/* Fuentes */


/* .allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}


.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    min-width: 320px;
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(190deg, rgba(0, 0, 0, 1) 15%, rgba(74, 73, 73, 1) 68%, rgba(120, 120, 120, 1) 88%, rgb(187, 187, 187) 96%);
}

.contenedorLogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: 6vw;
}

.contenedorLogo h2 {
    width: 100%;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1vw;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}

.contenedorLogo h4 {
    width: 40%;
    font-size: x-small;
    text-align: center;
    font-weight: bold;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

.contenedorLogo hr {
    width: 40%;
    height: 1px;
    font-size: 4vw;
    color: white;
}

.textoIntroductorio {
    /* height: 85%; */
    font-weight: 700;
    margin-top: 5vh;
    padding-left: 8vw;
    padding-right: 8vw;
    text-align: center;
    font-size: x-large;
}

.contenedorBuscadorIconos {
    width: 100%;
}

.buscador {
    width: 100%;
    min-width: 320px;
    padding: 2vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alineadorBuscador {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputBuscador {
    width: 80%;
    max-width: 500px;
    height: 9vw;
    max-height: 35px;
    padding-left: 5px;
    border-radius: 4px;
    font-weight: bold;
}

#botonEnviarID {
    width: 20%;
    max-width: 500px;
    height: 9vw;
    max-height: 35px;
    padding-left: 5px;
    margin-left: -25px;
    color: white;
    border: none;
    background-color: rgba(74, 73, 73, 1);
}

#AunNoHasBuscadoID {
    width: 100%;
    text-align: center;
    margin: 2vw;
    font-size: x-small;
}

.contenedorIconos {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    left: 0;
}

.contenedorIconos img {
    width: 30px;
    height: 70px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: large;
}

.textoInformativo {
    width: 100%;
    min-width: 320px;
    height: max-content;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    justify-content: center;
}

.articleTextoInformativo {
    min-width: 300px;
    max-width: 350px;
    /* font-size: 2vw; */
    padding: 2vw;
}

.articleTextoInformativo h2 {
    width: 100%;
    text-align: center;
    margin: 1rem 0
}

.contenedorEstadoEnvioCalendario {
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.ContenedorEstadoEnvio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ContenedorEstadoEnvio {
    padding: 2vw;
}

.ContenedorEstadoEnvio h4 {
    width: 100%;
    text-align: center;
    margin: 1vh 0;
}

#mensajeSinCodigoid {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.ContenedorDatosEnvio div {
    width: 100%;
    margin-top: 0.3vh;
    display: flex;
    flex-wrap: wrap;
}

.ContenedorDatosEnvio p,
i {
    margin-left: 1vw;
}

.contenedorFechaActualizacion {
    font-size: small;
}

.contenedorIconoEstadoEnvio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#contendorIDIncorrecto {
    width: 100%;
    height: 20vh;
    padding: 2vw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(175, 5, 5);
}

.contenedorCalendario {
    min-width: 320px;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 9px;
    padding-top: 2vh;
    margin-bottom: 2vh;
    background-image: url(Iconos/bx-package.svg);
    background-position: center;
    background-size: 20%;
}

.calendario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.034);
}

.calendario div {
    width: 100%;
    margin-top: 1vh;
    padding: 2vw;
    text-align: center;
}

.contendorCompraShein {
    min-width: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    /* font-size: 2vw; */
}

.contendorCompraShein b {
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
}

.contenedorInformativoShein {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 2vw;
    margin-bottom: 30px;
    border: solid rgb(240, 240, 240) 1px;
    border-radius: 4px;
    background-color: rgb(247, 247, 247);
    box-shadow: 10px 10px 20px rgb(75, 75, 75);
}

.contenedorInformativoShein img {
    width: 60px;
}

.contenedorInformativoShein p {
    padding: 2vw;
}