/* Fuentes */


/* .allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}


.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    min-width: 320px;
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(171deg, rgba(0, 0, 0, 1) 0%, rgba(46, 28, 43, 1) 31%, rgba(74, 25, 66, 1) 66%, rgba(137, 49, 104, 1) 87%);
}

.contenedorLogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: 6vw;
}

.contenedorLogo h2 {
    width: 100%;
    margin-top: 3vh;
    padding-top: 2vh;
    font-size: 14vh;
    text-align: center;
    margin-bottom: 1vw;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}

.contenedorLogo h4 {
    width: 40%;
    font-size: x-small;
    text-align: center;
    font-weight: bold;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

.contenedorLogo hr {
    width: 40%;
    height: 1px;
    font-size: 4vw;
    color: white;
}

.textoIntroductorio {
    /* height: 85%; */
    font-weight: 700;
    margin-top: 5vh;
    padding-left: 8vw;
    padding-right: 8vw;
    text-align: center;
    font-size: x-large;
}

.contenedorBuscadorIconos {
    width: 100%;
}

.buscador {
    width: 100%;
    min-width: 320px;
    padding: 2vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alineadorBuscador {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputBuscador {
    width: 80%;
    max-width: 500px;
    height: 9vw;
    max-height: 35px;
    padding-left: 5px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
}

#botonEnviarID {
    width: 20%;
    max-width: 500px;
    height: 9vw;
    max-height: 35px;
    padding-left: 5px;
    margin-left: -25px;
    color: #893168;
    border: none;
    background-color: #eaeaea;
}

#AunNoHasBuscadoID {
    width: 100%;
    text-align: center;
    margin: 2vw;
    font-size: x-small;
}

.contenedorIconos {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.contenedorIconos img {
    width: 30px;
    height: 70px;
}

main {
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: large;
}

.textoInformativo {
    width: 100%;
    min-width: 320px;
    height: max-content;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    justify-content: center;
}

.articleTextoInformativo {
    min-width: 300px;
    max-width: 350px;
    /* font-size: 2vw; */
    padding: 2vw;
}

.articleTextoInformativo h2 {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    color: #4a1942;
}

.articleTextoInformativo p {
    width: 100%;
    margin: 1rem 0
}

.contenedorEstadoEnvioCalendario {
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.ContenedorEstadoEnvio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    padding: 4vh;
    background-color: rgba(0, 0, 0, 0.068);
    color: #4a1942;
}

.ContenedorEstadoEnvio {
    padding: 2vw;
}

.ContenedorEstadoEnvio h2 {
    width: 100%;
    text-align: center;
    margin: 1vh 0;
}

#mensajeSinCodigoid {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.ContenedorDatosEnvio div {
    width: 100%;
    margin: 3vh 0;
    display: flex;
    flex-wrap: wrap;
}

.ContenedorDatosEnvio p,
i {
    margin-left: 1vw;
}

.contenedorFechaActualizacion {
    font-size: small;
}

.contenedorIconoEstadoEnvio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#contendorIDIncorrecto {
    width: 100%;
    height: 20vh;
    padding: 2vw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(175, 5, 5);
}

.contenedorCalendario {
    width: 80%;
    max-width: 550px;
    height: 40vh;
    max-height: 300px;
    margin-bottom: 2vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #2e1c2b;
}

.contenedorIconoProximoPedido {
    width: 140px;
    height: 140px;
    padding: 3vh;
}

.iconoProximoPedido {
    width: 100%;
    height: 100%;
    background-image: url(Iconos/bx-package.svg);
    background-position: center;
    background-size: cover;
}

.contenedorCalendario h3 {
    width: 100%;
    padding: 1vh;
    text-align: center;
    color: rgb(179, 179, 179);
    font-weight: bold;
}

.calendario {
    width: 100%;
    font-size: medium;
    text-align: center;
    font-weight: 100;
    padding: 4vw;
}

.calendario div {
    width: 100%;
    margin-top: 1vh;
    padding: 2vw;
    color: rgb(179, 179, 179);
}

.PedidoProximo p {
    font-size: large;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.contendorCompraShein {
    min-width: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    margin-top: 3vh;
}

.contendorCompraShein h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
    color: #4a1942;
}

.contenedorInformativoShein {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 2vw;
    margin-bottom: 30px;
}

.contenedorInformativoShein img {
    width: 60px;
}

.contenedorInformativoShein p {
    padding: 2vw;
    font-size: smaller;
}


/* Preguntas frecuentes */

.preguntasFrecuentes {
    min-width: 320px;
    max-width: 820px;
    margin-top: 3vh;
    padding: 2vw;
    user-select: none;
}

.preguntasFrecuentes h3 {
    width: 100%;
    margin-left: 2vw;
    text-align: start;
    color: #4a1942;
}

.contenedorGeneralPreguntas {
    width: 100%;
    height: auto;
    padding: 2vw;
}

.contenedorPregunta {
    width: 100%;
    height: 70px;
    padding: 2vw;
    margin-top: 2vh;
    border: solid 2px #4a1942;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.contenedorPregunta:hover {
    background-color: #4a1942;
    color: white;
    height: auto;
}

.contenedorEncabezadoPregunta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
    user-select: none;
}

.pregunta {
    width: 100%;
    font-weight: bold;
    text-align: start;
    box-sizing: border-box;
    color: #8f8f8f;
    user-select: none;
}

.respuestaPregunta {
    width: 100%;
    margin-top: 3.4vh;
    font-size: medium;
    cursor: pointer;
    user-select: none;
}

.contenedorPregunta a {
    max-width: max-content;
    border-radius: 6px;
    margin: 3vh 0;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #eaeaea;
}


/* Pruebas */

.contenedorPrueba {
    width: 100%;
    height: 40vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4a1942;
}

.contenedorA {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #893168;
    overflow: hidden;
}

.contenedorA:hover {
    height: auto;
}

@media (min-width: 500px) {
    .calendario {
        width: 60%;
        font-size: larger;
    }
}